<section id="loginSection">
    <article >
        <h1>login</h1>
<form action="/product/createproducts" method="post">
<input type="text" name="name" id="" placeholder="name">
<input type="number" name="count" id="" placeholder="count">
<button>submit</button>
</form>
    </article>
</section>