<section id="loginSection">
    <article >
        <h1>login</h1>
<form action="/auth/register" method="post">
<input type="email" name="email" id="" placeholder="Username">
<input type="password" name="password" id="" placeholder="Password">
<button>submit</button>
</form>
    </article>
</section>